<div class="jumbotron">
  <h1>Find Me a Home</h1>
  <h2>A place to find dogs from</h2>
  <h2>shelters for adoption</h2>
</div>

<h3>Help us adopt animals from your local shelters</h3>
<div class='container'>
  <div class='item'>Get the list of all available dog breeds</div>
  <div class='item'>Specify a breed along with zip code</div>
  <div class='item'>Select animals to be added to your  list</div>
  <div class='item'>Get details information on each animal</div>
  <div class='item'>Create comments for each of the animals</div>
  <div class='item'>Contact the shelter for adoption</div>
</div>
