<div class="jumbotron">
  <h2>A place to find dogs from shelters for adoption</h2>
  <div class="desc">
    <h3>Help us adopt animal from your local shelters</h3>
    <ul>
      <li>Get the list of all available dog breeds</li>
      <li>Specify a specific breed along with city & state, or zip code</li>
      <li>Select individual dog(s) to be added to your own list</li>
      <li>Get details information on each dog</li>
      <li>Create comments for each dog</li>
      <li>Make a selection and contact the correponding shelter for adoption</li>
    </ul>
  </div>
</div>
