<h2>New User Sign Up</h2>

<form class="form-class" (ngSubmit)="createUser(newUser)">
  <div class="form-input">
    <label for="first_name">First Name:</label>
    <input name="first_name" [(ngModel)]="newUser.first_name">
  </div>

  <div class="form-input">
    <label for="last_name">Last Name:</label>
    <input name="last_name" [(ngModel)]="newUser.last_name">
  </div>

  <div class="form-input">
    <label for="email">email:</label>
    <input name="email" [(ngModel)]="newUser.email">
  </div>

  <div class="form-input">
    <label for="city">City:</label>
    <input name="city" [(ngModel)]="newUser.city">
  </div>

  <div class="form-input">
    <label for="state">State:</label>
    <input name="state" [(ngModel)]="newUser.state">
  </div>

  <div class="form-input">
    <label for="password">Password:</label>
    <input type="password" name="password" [(ngModel)]="newUser.password">
  </div>

  <input class="form-input" type="submit" value="Create">
</form>

<img src="../../assets/dog3.jpeg" alt="dog image"/>
