h2 {
  text-align: center;
}

.form-class {
  text-align: right;
  margin-right: 40vw;
  margin-top: 50px;
}

.form-input {
  margin-top: 10px;
  clear: right;
}

img{
  float: right;
  border-radius: 15px;
}
