<button (click)="findBreeds()">Search Breeds</button>

<form (ngSubmit)="findPetsOfBreed(breedSearch)">
  <label for="breed">breed:</label>
  <input name="breed" [(ngModel)]="breedSearch.breed">

  <label for="location">location:</label>
  <input name="location" [(ngModel)]="breedSearch.location">

  <input type="submit" value="Search">
</form>

<form (ngSubmit)="findPet(pet_finder_api_id)">
  <label for="pet_finder_api_id">Pet id:</label>
  <input name="pet_finder_api_id" [(ngModel)]="pet_finder_api_id">
  <input type="submit" value="Search Pet">
</form>

<div *ngIf="foundPetsOfBreed">
  <div *ngFor="let pet of foundPetsOfBreed">
    Name: {{pet.name.$t}}, Id: {{pet.id.$t}}, Age: {{pet.age.$t}}, Sex: {{pet.sex.$t}}
  </div>
</div>

<div *ngIf="oneUser">
	<h2>{{oneUser.first_name}}</h2>
	<h3>{{oneUser.last_name}}</h3>
	<h3>{{oneUser.city}}</h3>
	<h3>{{oneUser.state}}</h3>
  <h3>Pets: </h3>
  <div *ngFor="let pet of oneUser.pets">
    <div>
      <h5>name: {{pet.name}}</h5>
      <h5>breed: {{pet.breed}}</h5>
      <img [src]="pet.image_url_small">
    </div>
  </div>
</div>
