<p>
  user-show works!
</p>

<form (ngSubmit)="findBreeds(pet_type)">
  <label for="pet_type">Pet Type:</label>
  <input name="pet_type" [(ngModel)]="pet_type">
  <input type="submit" value="Search Breeds">
</form>

<form (ngSubmit)="findPetsOfBreed(breedSearch)">
  <label for="breed">breed:</label>
  <input name="breed" [(ngModel)]="breedSearch.breed">

  <label for="location">location:</label>
  <input name="location" [(ngModel)]="breedSearch.location">

  <input type="submit" value="Search">
</form>

<form (ngSubmit)="findPet(pet_finder_api_id)">
  <label for="pet_finder_api_id">Pet id:</label>
  <input name="pet_finder_api_id" [(ngModel)]="pet_finder_api_id">
  <input type="submit" value="Search Pet">
</form>

<button (click)='getPets()'>Show all my pets</button>

<h3>Found Breeds:</h3>
<div *ngFor="let breed of foundBreeds">
  &nbsp;&nbsp;&nbsp;&nbsp;{{breed.$t}}
</div>

<h3>Found Pets of Breed: {{breedSearch.breed}}</h3>
<div *ngFor="let pet of foundPetsOfBreed">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Name: {{pet.name.$t}},
    &nbsp;&nbsp;&nbsp;&nbsp;Breed: {{pet.breeds.breed.$t}},
    &nbsp;&nbsp;&nbsp;&nbsp;Age: {{pet.age.$t}},
    &nbsp;&nbsp;&nbsp;&nbsp;Sex: {{pet.sex.$t}},</p>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;photo: {{pet.media.photos.photo['@size':'fpm']}}</p> -->
  <button (click)='addPet(pet)'>Add to My List</button>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;Description: {{pet.description.$t}}</p>
</div>

<div *ngIf="oneUser">
	<h2>{{oneUser.first_name}} {{oneUser.last_name}}</h2>
	<h3>{{oneUser.city}}, {{oneUser.state}}</h3>
  <p>id: {{oneUser._id}}</p>
  <a routerLink="/users/edit/{{oneUser._id}}">Edit Profile</a>
  <a routerLink="/users/{{oneUser._id}}/pets">Show My Pet list</a>

  <h3>Pets: </h3>
  <div *ngFor="let pet of oneUser.pets">
    <div>
      <h5>name: {{pet.name}}&nbsp;&nbsp;&nbsp;&nbsp;
          breed: {{pet.breed}}
      <button (click)='deletePet(pet)'>Delete</button></h5>
      <img [src]="pet.image_url_small">
    </div>
  </div>

  <!-- <app-pet-index></app-pet-index> -->
  <!-- <div *ngIf="foundPet">
    <h5>name: {{foundPet.name.$t}}</h5>
    <h5>sex: {{foundPet.sex.$t}}</h5>
    <h5>contact: {{foundPet.contact.phone.$t}}</h5>
    <img ng-src="foundPet.media.photo[@size] == x"/>
  </div> -->
</div>
