h2 {
  height: 20px;
  line-height: 20px;
}
.user-nav {
  font-size: 15px;
  font-weight:normal;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 5px;
  float: right;
  height: 20px;
  line-height: 20px;
}

.add-pet .delete-pet{
  float: right;
}

.form-class {
  text-align: left;
  margin-left: 20vw;
  margin-top: 10px;
}

.form-input {
  margin-top: 10px;
  clear: right;
}

.pet-display {
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px 5px;
  border: 2px transparent;
  background-color: #e6f2ff;
}

img {
  border-radius: 10px;
  margin-left: 5px;
}
