<a class="link-class" routerLink="/users/{{userId}}">My Page</a>

<h3>My Pet List</h3>
<h4 class="pet-display" *ngIf="!apiPets.length">
  You currently have no pet.</h4>

<div *ngIf="apiPets.length">
  <div *ngFor="let pet of apiPets">

    <div class="pet-display" *ngIf="pet.header.status.code.$t == 100">
      <p><strong>Name:</strong> {{pet.pet.name.$t}},
        &nbsp;&nbsp;&nbsp;&nbsp;Breed: {{pet.pet.breeds.breed.$t}},
        &nbsp;&nbsp;&nbsp;&nbsp;Age: {{pet.pet.age.$t}},
        &nbsp;&nbsp;&nbsp;&nbsp;Sex: {{pet.pet.sex.$t}}
        <a routerLink="/users/{{userId}}/pets/{{pet.pet.id.$t}}"><button>See More</button></a>
        <span class="delete-pet"><button (click)='deleteOneUserPet(pet)'>Delete</button></span></p>

      <span *ngIf="pet.pet && pet.pet.media && pet.pet.media.photos && pet.pet.media.photos.photo && pet.pet.media.photos.photo.length">
        <span *ngFor="let photo of pet.pet.media.photos.photo">
          <span *ngIf="photo['@size'] === 'fpm'">
            <img src="{{photo.$t}}" alt="">
          </span>
        </span>
      </span>

      <p><strong>Description:</strong> {{pet.pet.description.$t}}</p>
    </div>

    <div class="pet-display" *ngIf="pet.header.status.code.$t == 201">
      <p><strong>Name:</strong> {{pet.name}} <span style="color:red;">is no longer available</span>
        <span class="delete-pet"><button (click)='deleteOneUserPet(pet)'>Delete</button></span></p>
    </div>

    <div class="pet-display" *ngIf="pet.header.status.code.$t == 300">
      <p><strong>Name:</strong> {{pet.name}} <span style="color:red;">message: {{pet.header.status.message.$t}}</span>
        <span class="delete-pet"><button (click)='deleteOneUserPet(pet)'>Delete</button></span></p>
    </div>

  </div>
</div>
