<p>
  pet-index works!
</p>
<h3>My Pet List</h3>
  <h4 class="pet-display" *ngIf="!apiPets.length">
    You currently have no pet.</h4>

  <div *ngIf="apiPets.length">
    <div *ngFor="let pet of apiPets">

      <div *ngIf="pet.header.status.code.$t == 100">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Name: {{pet.pet.name.$t}},
          &nbsp;&nbsp;&nbsp;&nbsp;Breed: {{pet.pet.breeds.breed.$t}},
          &nbsp;&nbsp;&nbsp;&nbsp;Age: {{pet.pet.age.$t}},
          &nbsp;&nbsp;&nbsp;&nbsp;Sex: {{pet.pet.sex.$t}}
          <span class="delete-pet"><button (click)='deleteOneUserPet(pet)'>Delete</button></span></p>
        <span *ngFor="let photo of pet.pet.media.photos.photo">
          <span *ngIf="photo['@size'] === 'fpm'">
            <img src="{{photo.$t}}" alt="">
          </span>
        </span>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Description: {{pet.pet.description.$t}}</p>
      </div>

      <div *ngIf="pet.header.status.code.$t == 201">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Name: {{pet.name}} is no longer available.
          <span class="delete-pet"><button (click)='deleteOneUserPet(pet)'>Delete</button></span></p>
      </div>

    </div>
  </div>
