<h2>Editing Profile</h2>
<img src="../../assets/dog1.jpeg" alt="dog image"/>

<form class="form-class" (ngSubmit)="updateUser(updatedUser)">
  <div class="form-input">
    <label for="first_name">First Name:</label>
    <input name="first_name" [(ngModel)]="updatedUser.first_name">
  </div>

  <div class="form-input">
    <label for="last_name">Last Name:</label>
    <input name="last_name" [(ngModel)]="updatedUser.last_name">
  </div>

  <div class="form-input">
    <label for="email">email:</label>
    <input name="email" [(ngModel)]="updatedUser.email">
  </div>

  <div class="form-input">
    <label for="city">City:</label>
    <input name="city" [(ngModel)]="updatedUser.city">
  </div>

  <div class="form-input">
    <label for="state">State:</label>
    <input name="state" [(ngModel)]="updatedUser.state">
  </div>

  <div class="form-input">
    <label for="user_name">User Name:</label>
    <input name="user_name" [(ngModel)]="updatedUser.user_name">
  </div>

  <div class="form-input">
    <label for="password">Password:</label>
    <input name="password" [(ngModel)]="updatedUser.password">
  </div>

  <input class="form-input" type="submit" value="Update">
</form>
