.delete-pet{
  float: right;
}

.link-class {
  text-decoration: none;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

h2 {
  text-align: center;
  background-color: #fff2e6;
  padding-bottom: 10px;
}

.one-pet {
  clear: right;
  background-color: #f9ecf2;
  border-radius: 15px;
  padding: 0px 10px 10px 10px;
}

.div-img {
  text-align: center;
}

img {
  border-radius: 10px;
  margin: 10px auto;
}

.one-comment {
  max-width: 50%;
  border-radius: 10px;
  background-color: white;
  margin-left: 10%;
}
