<div>
  <a class="link-class" routerLink="/users/{{userId}}">My Page</a>
  <a class="link-class" routerLink="/users/{{userId}}/pets">My Pets</a>
</div>

<div class="one-pet" *ngIf="apiPet && apiPet.header && apiPet.header.status && (apiPet.header.status.code.$t == 100)">
  <p><strong>Name:</strong> {{apiPet.pet.name.$t}},
    &nbsp;&nbsp;&nbsp;&nbsp;Breed: {{apiPet.pet.breeds.breed.$t}},
    &nbsp;&nbsp;&nbsp;&nbsp;Age: {{apiPet.pet.age.$t}},
    &nbsp;&nbsp;&nbsp;&nbsp;Sex: {{apiPet.pet.sex.$t}},
    &nbsp;&nbsp;&nbsp;&nbsp;Last Updated: {{apiPet.pet.lastUpdate.$t}}</p>

    <p *ngIf="apiPet.pet.options.option.length">
      <span *ngFor="let opt of apiPet.pet.options.option">
        {{opt.$t}}</span>
    </p>
    <p><strong>Contact</strong> Phone: {{apiPet.pet.contact.phone.$t}},
       email: {{apiPet.pet.contact.email.$t}},
       &nbsp;&nbsp;city: {{apiPet.pet.contact.city.$t}},
       &nbsp;&nbsp;state: {{apiPet.pet.contact.state.$t}},
       &nbsp;&nbsp;zip: {{apiPet.pet.contact.zip.$t}}</p>

  <div class="div-img" *ngIf="apiPet.pet.media.photos.photo.length">
    <div *ngFor="let photo of apiPet.pet.media.photos.photo">
      <div *ngIf="photo['@size'] === 'x'">
        <img src="{{photo.$t}}" alt="">
      </div>
    </div>
  </div>

  <p><strong>Description:</strong> {{apiPet.pet.description.$t}}</p>

  <div *ngIf="backendPet && backendPet.length && backendPet[0].comments.length">
    <p><strong>My Comments:</strong> </p>
    <div class="one-comment" *ngFor="let comment of backendPet[0].comments">
      <p>{{comment.comment}}</p>
    </div>

  </div>

  <span class="pet-button"><button (click)='addPet(apiPet.pet)'>Add To My List</button></span>
  <span class="pet-button"><button (click)='deletePet(apiPet.pet)'>Delete</button></span>
  <span class="pet-button"><button (click)='addComment(apiPet.pet)'>Add Comment</button></span>

</div>

<div *ngIf="apiPet && apiPet.header && apiPet.header.status && (apiPet.header.status.code.$t == 201)">
  <p>Name: {{apiPet.name}} is no longer available.
    <span class="delete-pet"><button (click)='deleteOneUserPet(apiPet)'>Delete</button></span></p>
</div>
