<!DOCTYPE html>
<html>
<head>
  <title>Find Me a Home</title>
</head>
<body>
  <header>
    <h1>Find Me a Home</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li *ngIf="isLoggedIn"><span style="cursor: pointer" (click)=logout()>Log out</span></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login/">Log in</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/signup/">Sign Up</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    &copy; Find Me a Home
    <br>Powered by <a href="https://www.petfinder.com">petfinder.com</a>
  </footer>
</body>
</html>
